@page
@{
    ViewData["Title"] = "52 Week Photography Challenge for 2017";
    ViewData["Description"] = "Take your photography to the next level with this 52 week photography challenge for 2017 presented by Dogwood Photography";
    ViewData["URL"] = "https://" + @Request.Host + @Request.Path;
    ViewData["ChallengePage"] = "True";
}
<header>
    @Html.Partial("_MainNavigation")

    <!-- Full Screen Hero -->
    <div id="introHero" class="module view" data-background="/images/durham-photography-header-1.jpg">
        <div class="container-fluid mask rgba-white-light d-flex align-items-end justify-content-center">
            <div class="module-tagline text-center">
                <h5 class="dw-font-alt text-muted my-4">Dogwood Photography  <i class="fa fa-camera-retro"></i>  Durham, NC</h5>
            </div>
        </div>
    </div>
    <!-- /HERO -->
</header>

<!-- Main Layout -->
<main>
    <section class="section-content container-fluid p-5">
        <!-- MODULE TITLE -->
        <div class="row">
            <div class="col-12">
                <h6 class="text-center font-italic">Dogwood Photography Presents:</h6>
                <h2 class="text-center">52 Week Photography Challenge for 2017 test</h2>
            </div>
        </div>
        <!-- /MODULE TITLE -->
        <div class="row p-5">
            <div class="col-12">
                <p>The original Dogwood Photography 52 Week Challenge was a huge success, with tens of thousands of photographers participating from around the world.  In celebration of those who have completed the first challenge, a new challenge is now here! The challenge for 2017 has a higher difficulty level than the original challenge. While this challenge is a follow on to the original challenge <a href="\52weekchallenge">here</a>, it is also suitable to be completed as a stand alone challenge. There is no specific start date for this challenge.  Each photographer is on their own journey, and only competing with themselves from week to week. If you wish to form a challenge group and compete with each other based on this list you are welcome to do so! If you form a challenge group drop me an invite I would love to watch the progress.</p>
                <h4>Weekly Challenge Categories:</h4>
                <p>Each week, the weekly assignment will be in one of 3 categories:</p>
                <ul>
                    <li><strong>Story Telling:</strong> Good photographers can take beautiful images of something. Great photographers can take an image that tells its story. This category makes use of compositional rules and directed prompts to push you towards not just looking at the beauty of something, but to find a way to tell that something’s story.</li>
                    <li><strong>Technical:</strong> Technical Aptitude is just as important as creative inspiration in photography. With that in mind this category is a mix of in camera and post processing techniques designed to expose you to new technical skills and techniques.</li>
                    <li><strong>Artistic Impression:</strong> When this category comes up, you really have room to express yourself. You can interpret the assignment literally or figuratively. Unlike the other two categories that are more focused, the idea of this category is to let your creativity shine.</li>
                </ul>
                <h4>How to share your images</h4>
                <p>I highly encourage sharing your work each week. I know it’s hard to put yourself out there, but it is an important part of growing as a photographer. If you want to share your images with the rest of the people who are taking part in the challenge I recommend the following hashtags:  #dogwood52, #dogwood2017, and #dogwoodweek[NUMBER] (ex: #dogwoodweek1, #dogwoodweek2).</p>
                <p>If you run into others who are also participating and sharing, be sure and comment on their image!</p>
                <h4>Some places to share your work:</h4>
                <ul>
                    <li>Join the Facebook Group <em>Official Dogwood Photography Challenge</em> at: <a target="_blank" href="https://www.facebook.com/groups/dogwood.52.challenge/">https://www.facebook.com/groups/dogwood.52.challenge/</a></li>
                    <li>Share your work on Instagram, Twitter, Facebook, Pinterest, or other hashtag friendly social media site with the hashtags listed above.</li>
                    <li>Share your work in your favorite photography forum… and even encourage others to participate.</li>
                    <li>Share your work via websites dedicated to photographers like Flickr.com or 500Pix.com.</li>
                </ul>

            </div>

        </div>

    </section>

    
    <section class="section-content container-fluid p-5">

        <div class="row px-5">
            <div class="col-12">
                <h2 class="text-center">The Challenge List</h2>
            </div>
        </div>
        <!-- /MODULE TITLE -->

        <div class="row px-5">
            <div class="col-12">
                <div id="theList">
                    <table class="table table-striped">

                        <tr>
                            <td class="text-nowrap">Week 1</td>
                            <td>Story: Rule of Thirds</td>
                            <td>The rule of thirds is the first compositional rule most photographers learn; but most don't know why they learn it. The rule of thirds is amazing for telling a story. Tell a story using rule of thirds.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 2</td>
                            <td>Technical: SOOC</td>
                            <td>Straight out of the Camera.  No Photoshop.  Shoot a compelling image and post it without edits.  No cheating! (Be sure and save the image file for the end of the challenge!)</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 3</td>
                            <td>Artistic: Land</td>
                            <td>Your inspiration this week is land.  This could be a landscape, or an image inspired by the land in some way.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 4</td>
                            <td>Story: Mirror</td>
                            <td>Tell a story using a mirror.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 5</td>
                            <td>Technical: Ten Shots</td>
                            <td>Shoot 10 shots of the same subject. Each shot should be from a different angle, distance, and focal length. Share your favorite image from the set.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 6</td>
                            <td>Artistic: Candy</td>
                            <td>A throwback to one of the favorite weeks of the original challenge. Your artistic inspiration this week is candy. Since this is the advanced challenge... you can't actually use candy in the scene.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 7</td>
                            <td>Story: Forgotten</td>
                            <td>Abandoned was a very popular week in the original challenge. For the advanced challenge tell the story of something forgotten.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 8</td>
                            <td>Technical: One Shot</td>
                            <td>Imagine that it is the last frame on a roll of film, and you have to nail it. For this challenge only take one shot. No deleting, no 2nd shot. The honor system is in play.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 9</td>
                            <td>Artistic: Still Life</td>
                            <td>Your inspiration this week is Still Life. A couple of pieces of fruit on a table won't impress in the advanced challenge though... so really be creative.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 10</td>
                            <td>Story: Perspective</td>
                            <td>Perspective for the purpose of this challenge is the relationship of objects in the scene. If you really want a challenge this is a good chance to use forced perspective.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 11</td>
                            <td>Technical: Split Tone</td>
                            <td>Split Tone is an editing technique where the shadows are toned one color, and the highlights a second color. Split toning is often used with color grading in the media to give a scene a desired look and feel.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 12</td>
                            <td>Artistic: Orange</td>
                            <td>Your inspiration this week is orange. Either the color orange or an actual orange. Or both.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 13</td>
                            <td>Story: Golden Hour</td>
                            <td>The golden hour is the hour before sunset or after sunrise when the sun casts amazing golden tones. Find a way to use the golden hour to tell a story.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 14</td>
                            <td>Technical: Panning</td>
                            <td>Use the technique of panning to capture a subject in movement.  Panning is using a slower shutter speed while following the subject with the camera to create the sense of movement in an image.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 15</td>
                            <td>Artistic: Hard</td>
                            <td>Your artistic inspiration this week is hard. Hard is both an adjective and an adverb. Interpret this how you wish.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 16</td>
                            <td>Story: leading Lines</td>
                            <td>Leading Lines are a very important compositional element that every photographer needs to master. Use leading lines to tell a story. No train tracks.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 17</td>
                            <td>Technical: Loop Lighting</td>
                            <td>Loop lighting is one of the most used portrait lighting techniques. Shoot a portrait using loop lighting.  If you don't have an off camera flash setup, get creative with how you light your subject.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 18</td>
                            <td>Artistic: Purple</td>
                            <td>Your inspiration this week is purple. Purple is the color of royalty, magic, and mystery.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 19</td>
                            <td>Story: Back Yard</td>
                            <td>Tell the story of your immediate surroundings. Give us a glimpse into your daily life.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 20</td>
                            <td>Technical: Sky Overlay</td>
                            <td>Sometimes the sky just doesn't cooperate. This week replace the sky in your image.  If you need a sky to use in the replacement, search flickr.com for an image to use under Creative Commons Licensing.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 21</td>
                            <td>Artistic: Soft</td>
                            <td>Your artistic inspiration this week is soft. Just like hard earlier in the challenge, soft is both and adjective and an adverb. Interpret this how you will.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 22</td>
                            <td>Story: Geometric Shapes</td>
                            <td>Triangles, squares, and circles. They are all very strong compositional elements in an image. Find a way to use geometric shapes in your storytelling.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 23</td>
                            <td>Technical: F/8 Portrait</td>
                            <td>Shoot a portrait using an aperture setting of F/8.  Since this is the advanced challenge, be sure to find a way to isolate your subject other than shallow depth of field.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 24</td>
                            <td>Artistic: Green</td>
                            <td>Your inspiration this week is green. Green is the color of life, nature, and hope.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 25</td>
                            <td>Story: Toy Story</td>
                            <td>Not the movie!  Tell a story with toys or about toys. (Kind of like the movie...)</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 26</td>
                            <td>Technical: Light Painting</td>
                            <td>Put your camera on a tripod at night, open the shutter for 30 seconds, and paint your subject with light.  Flashlights, LED strips, and even laser pointers work great.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 27</td>
                            <td>Artistic: Communication</td>
                            <td>Your inspiration this week is communication. We live in the age of endless communication, so there is inspiration everywhere.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 28</td>
                            <td>Story: Portrait as Landscape</td>
                            <td>Shoot a portrait that is posing as a landscape.  Tell a story of the subject using the landscape around them.  Fool the viewer.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 29</td>
                            <td>Technical: Water Drop</td>
                            <td>Photographing a water drop is a mix of lighting, macro, and patience.  There are plenty of ways to pull this off, enjoy figuring it out!</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 30</td>
                            <td>Artistic: Family</td>
                            <td>In the last challenge you shot a family portrait. This time use family as your inspiration. Since this is the advanced challenge no people can be in the image.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 31</td>
                            <td>Story: Frame Within a Frame</td>
                            <td>Another classic compositional tool is to frame the subject within the frame of the image.  Use this technique this week to tell your story.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 32</td>
                            <td>Technical: HDR</td>
                            <td>HDR is the technique of combining several photos of the same scene but shot at different exposures to create an image with a High Dynamic Range.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 33</td>
                            <td>Artistic: High Key</td>
                            <td>High Key was one of the most interesting during the last challenge. Last time it was a portrait; this time it is back as inspiration.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 34</td>
                            <td>Story: Stranger</td>
                            <td>Tell the story of a stranger.  Try using their environment to really inform the viewer of their story.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 35</td>
                            <td>Technical: Stitched Panorama</td>
                            <td>A stitched panorama is an image made up of several smaller images stitched together during editing.  For an added challenge try using the Brenizer Method.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 36</td>
                            <td>Artistic: Low Key</td>
                            <td>Low Key is the opposite of High Key. Shoot an image where most of the tonal range is on left side of the histogram.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 37</td>
                            <td>Story: Balance</td>
                            <td>Balance is the compositional technique of giving each area in a scene equal visual weight. You can achieve balance using color, tone, or juxtaposed subjects.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 38</td>
                            <td>Technical: 50mm</td>
                            <td>Learn to sneaker zoom!  Shoot an image using only the 50mm Focal Length. Either use a fixed 50mm lens or set your zoom lens to 50mm.  Since this is the advanced challenge make sure the image is compelling.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 39</td>
                            <td>Art: Water</td>
                            <td>Your inspiration this week is water. Interpret this how you will.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 40</td>
                            <td>Story: Colorful B & W</td>
                            <td>Tell the story of a colorful scene. Because this is the advanced challenge, no flowers. Do it in Black and White.</td>
                        </tr>
                        <tr>
                            <td class="text-nowrap">Week 41</td>
                            <td>Technical: Levitation</td>
                            <td>Levitation is part camera trick and part photoshop. Create an interesting levitation image this week.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 42</td>
                            <td>Artistic: Music</td>
                            <td>Your inspiration this week is music. This is wide open so have fun with it.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 43</td>
                            <td>Story: Movement</td>
                            <td>Capturing and creating movement in a still photo is a challenge for every photographer. Use movement this week to tell a story.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 44</td>
                            <td>Technical: Magic ND Filter</td>
                            <td>Use an ND filter combined with a shutter speed of 30 seconds or even longer to create your image. Try a waterscape or even a busy landmark to see the magic happen.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 45</td>
                            <td>Artistic: Cold</td>
                            <td>Your inspiration this week is cold. Interpret this how you want.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 46</td>
                            <td>Story: Landscape Foreground</td>
                            <td>Many stories are based around portraits, but landscapes can have stories also. Tell the story of a landscape by using the foreground as the subject and the background as the scene.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 47</td>
                            <td>Technical: Shaped Bokeh</td>
                            <td>Bokeh was one of people's favorite weeks. This year take it a step further and create a scene using shaped bokeh.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 48</td>
                            <td>Artistic: Bodyscape</td>
                            <td>The human form has been the study of art since art was first inspired.  Your inspiration this week is the human body.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 49</td>
                            <td>Story:Blue Hour</td>
                            <td>The Blue Hour is the hour after sunset or the hour before sunrise when the sky is dominated by amazing blue and purple hues.  Use this to tell your story this week.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 50</td>
                            <td>Technical: Full Edit</td>
                            <td>Use the SOOC shot from the beginning of the challenge and re-edit it to it's full glory.  If that shot isn't available feel free to re-edit any of your past work.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 51</td>
                            <td>Artistic: Fear</td>
                            <td>Fear is your inspiration this week.  Find a way to show fear in a way that your viewer feels it.</td>
                        </tr>

                        <tr>
                            <td class="text-nowrap">Week 52</td>
                            <td>Story: Your Story</td>
                            <td>Tell your story.</td>
                        </tr>
                    </table>
                    <hr />
                </div>
            </div>
        </div>


    </section>



</main>

