@page
@{
    ViewData["Title"] = "52 Week Photography Challenge for 2018";
    ViewData["Description"] = "Take your photography to the next level with this 52 week photography challenge for 2018 presented by Dogwood Photography";
    ViewData["URL"] = "https://" + @Request.Host + @Request.Path;
    ViewData["ChallengePage"] = "True";
}
<header>
    @Html.Partial("_MainNavigation")

    <!-- Full Screen Hero -->
    <div id="introHero" class="module view" data-background="/images/durham-photography-header-1.jpg">
        <div class="container-fluid mask rgba-white-light d-flex align-items-end justify-content-center">
            <div class="module-tagline text-center">
                <h5 class="dw-font-alt text-muted my-4">Dogwood Photography  <i class="fa fa-camera-retro"></i>  Durham, NC</h5>
            </div>
        </div>
    </div>
    <!-- /HERO -->
</header>

<!-- Main Layout -->
<main>
    <section class="section-content container-fluid p-5">
        <!-- MODULE TITLE -->
        <div class="row">
            <div class="col-12">
                <h6 class="text-center font-italic">Dogwood Photography Presents:</h6>
                <h2 class="text-center">52 Week Photography Challenge for 2018</h2>
            </div>
        </div>
        <!-- /MODULE TITLE -->
        <div class="row p-5">
            <div class="col-12">
                <p>The first two Dogwood Photography 52 Week Challenges were an amazing success, with tens of thousands of photographers participating from around the world. We enter the third year of the challenge with the Community Challenge!</p>
                <p>
                    This challenge has been created by photographers who participated in past year’s challenges to push themselves, and you, even further in your photographic journey.  The Community Challenge is a great follow on to the other two challenges, but is also suitable to be completed as a stand-alone challenge.
                    There is no specific start date for this challenge. Each photographer is on their own journey, and only competing with themselves from week to week. If you wish to form a challenge group and compete with others based on this list you are welcome to do so! If you form a challenge group drop me an invite I would love to watch the progress.
                </p>
                <h4>Weekly Challenge Categories:</h4>
                <p>Each week, the weekly assignment will be in one of 5 categories:</p>
                <ul>
                    <li><strong>Vision:</strong> This category is designed to push you to go beyond sight, to insight; to take inspiration and make it a reality.  Vision exists in your imagination and is revealed your photographs; expressing something otherwise invisible. Developing a Vision for your work is showing to others what you see in your mind’s eye.</li>
                    <li><strong>Composition:</strong> Composition refers to the way the various elements in a scene are arranged within the frame. Challenges will focus on setting up the shot and developing our personal composition styles; styles which can become our trademark. Developing your Compostion will allow you to set the stage to generate a reaction from your audience.</li>
                    <li><strong>Technical:</strong> Technical Aptitude is just as important as creative inspiration in photography. This year's technical category is primarily focused on  in camera processes, however, there will be some post processing techniques included.</li>
                    <li><strong>Creative:</strong> When this category comes up, you really have room to express yourself. You can interpret the assignment literally or figuratively. Unlike the other categories, the idea of this category is to let your artistic impression shine.</li>
                    <li><strong>Wild Card:</strong> Consider this a Show-and-Tell for grown-ups. You have freedom do shoot what and how you wish. Let us know if you're trying a new technique, composition, style, subject, working on a specific project, or just exercising your freedom. Have fun!</li>
                </ul>
                <h4>How to share your images</h4>
                <p>I highly encourage sharing your work each week. I know it’s hard to put yourself out there, but it is an important part of growing as a photographer. If you want to share your images with the rest of the people who are taking part in the challenge I recommend the following hashtags:  #dogwood52, #dogwood2018, and #dogwoodweek[NUMBER] (ex: #dogwoodweek1, #dogwoodweek2).</p>
                <p>If you run into others who are also participating and sharing, be sure and comment on their image!</p>
                <h4>Some places to share your work:</h4>
                <ul>
                    <li>Join the Facebook Group <em>Official Dogwood Photography Challenge</em> at: <a target="_blank" href="https://www.facebook.com/groups/dogwood.52.challenge/">https://www.facebook.com/groups/dogwood.52.challenge/</a></li>
                    <li>Share your work on Instagram, Twitter, Facebook, Pinterest, or other hashtag friendly social media site with the hashtags listed above.</li>
                    <li>Share your work in your favorite photography forum… and even encourage others to participate.</li>
                    <li>Share your work via websites dedicated to photographers like Flickr.com or 500Pix.com.</li>
                    <li>Put together a gallery show of your favorite images from the challenge! Select 12-20 of your favorite images to have printed and framed; and then arrange a photography exhibit. The show could be as simple as a dinner party at your house. You could also reach out to local coffee shops and community galleries to see if space would be available. There may be some incidental costs for showing your work, so you may want to contact early so that you can plan accordingly. Consider selling a few of your framed prints to help offset the cost.</li>
                </ul>

            </div>
        </div>

    </section>

    
    <section class="section-content container-fluid p-5">

        <div class="row px-5">
            <div class="col-12">
                <h2 class="text-center">The Challenge List</h2>
            </div>
        </div>
        <!-- /MODULE TITLE -->

        <div class="row px-5">
            <div class="col-12">
                <div id="theList">
                    <table class="table table-striped">
                        <tr><td class="text-nowrap">Week 1</td><td class="text-nowrap">Vision: Look Ahead</td><td>New year. New beginnings. New you. Look ahead. Interpret as you wish.</td></tr>
                        <tr><td class="text-nowrap">Week 2</td><td>Composition: Color Harmony</td><td>Get out your color wheel. Do opposites attract? Can there be harmony with opposite colors? Does the Hulk wear purple pants? Mix warm and cool colors.</td></tr>
                        <tr><td class="text-nowrap">Week 3</td><td>Technical: Full Manual</td><td>While the camera often determines shutter speed and aperture for the photographer, it doesn't know your creative intent. This week, challenge your self to assume creative control over the camera by using full manual mode. Select a subject where varying the aperture and / or shutter speed helps enhance the composition and visual qualities of the image.</td></tr>
                        <tr><td class="text-nowrap">Week 4</td><td>Creative: Quiet Moment</td><td>Peace. Serenity. Tranquility. Convey a quiet moment.</td></tr>
                        <tr><td class="text-nowrap">Week 5</td><td>Wildcard: Photographer's Choice</td><td>Capture an image on your terms; who, what, where, when, why, how … it's all up to you. Caveat: You must tell us your intent.</td></tr>
                        <tr><td class="text-nowrap">Week 6</td><td>Vision: Alternating Rhythm</td><td>Alternate patterns of light to bring depth and rhythm to the photograph.</td></tr>
                        <tr><td class="text-nowrap">Week 7</td><td>Composition: Fill the Frame</td><td>Fill the frame with your subject, no background. You will need to get up close and personal, or use a good zoom lens.</td></tr>
                        <tr><td class="text-nowrap">Week 8</td><td>Technical: Zoom Burst</td><td>By changing the focal length during long exposure you can add movement to your frame, producing leading lines within your frame.</td></tr>
                        <tr><td class="text-nowrap">Week 9</td><td>Creative: Forsaken</td><td>Abandoned and Forgotten were favorites in the past. Let's revisit the idea the idea this year with forsaken.</td></tr>
                        <tr><td class="text-nowrap">Week 10</td><td>Vision: Selective Color</td><td>I know, I know. Yuck. Selective color can be cringeworthy, however, when done right, it brings compelling focus to the subject.</td></tr>
                        <tr><td class="text-nowrap">Week 11</td><td>Composition: Negative Space</td><td>Minimize the composition to isolate your subject. The composition should be simple, thereby drawing your viewer to the subject.</td></tr>
                        <tr><td class="text-nowrap">Week 12</td><td>Technical: Macro</td><td>Life is in the details. Get in close and show us the details we usually miss. You don't need a macro lens to shoot a macro shot.</td></tr>
                        <tr><td class="text-nowrap">Week 13</td><td>Creative: Leading Lines</td><td>Back by popular demand, use lines to lead the viewer to your subject.</td></tr>
                        <tr><td class="text-nowrap">Week 14</td><td>Vision: Diptych or Triptych</td><td>Connect 2 or 3 images together, creating one image, to provoke a thought or tell a story. </td></tr>
                        <tr><td class="text-nowrap">Week 15</td><td>Composition: Rule of Space</td><td>Your subject should be facing the frame, walking into the frame, this keeps your subject "in" the frame and engaging with it. Give your subject room to move.</td></tr>
                        <tr><td class="text-nowrap">Week 16</td><td>Technical: Portrait Lighting</td><td>Whether Butterfly, Rembrandt, Split, or Loop Lighting, choose the technique which best flatters your subject.</td></tr>
                        <tr><td class="text-nowrap">Week 17</td><td>Creative: Humor</td><td>Laughter is the best medicine. Make us laugh.</td></tr>
                        <tr><td class="text-nowrap">Week 18</td><td>Wildcard: Photographer's Choice</td><td>Capture an image on your terms; who, what, where, when, why, how … it's all up to you. Caveat: You must tell us your intent.</td></tr>
                        <tr><td class="text-nowrap">Week 19</td><td>Vision: Edge Cut Sun</td><td>Having an edge cut through the sun looks nice, or having the sun rising over a line or diagonal within the photo. Stop down the aperture to create a starburst.</td></tr>
                        <tr><td class="text-nowrap">Week 20</td><td>Composition: From Below</td><td>Get down low; below 2 feet, and change your perspective. Look out or look up.</td></tr>
                        <tr><td class="text-nowrap">Week 21</td><td>Technical: Product</td><td>Imagine your image in a catalog or a magazine. It's not as easy as it sounds.</td></tr>
                        <tr><td class="text-nowrap">Week 22</td><td>Creative: Door</td><td>A symbol of transition, a door or a gate provide a passage way. </td></tr>
                        <tr><td class="text-nowrap">Week 23</td><td>Vision: No Peeking</td><td>Shoot as if you were using a film camera. That means that you will not look at the photographs you've taken until they are downloaded on your computer.</td></tr>
                        <tr><td class="text-nowrap">Week 24</td><td>Composition: Contrast</td><td>An easy way to make a photo more interesting is to introduce some form of stark contrast: liquid/solid, hard/soft, delicate/brash.</td></tr>
                        <tr><td class="text-nowrap">Week 25</td><td>Technical: Starburst</td><td>Create a very strong focal point and add an entirely new dimension of interest to your image using a starburst.</td></tr>
                        <tr><td class="text-nowrap">Week 26</td><td>Creative: High or Low Key</td><td>You don't have to do both this year; choose your favorite and shoot that. </td></tr>
                        <tr><td class="text-nowrap">Week 27</td><td>Vision: Flattery</td><td>They say imitation is the highest form; so, past or present; choose your favorite master photographer and imitate their art or technique.</td></tr>
                        <tr><td class="text-nowrap">Week 28</td><td>Composition: Left to Right Rule</td><td>Compose an image in the way we read; most countries read from left to right. Compose your shot to follow this direction.</td></tr>
                        <tr><td class="text-nowrap">Week 29</td><td>Technical: Twilight Zone</td><td>While golden and blue hours bring beautiful lighting, shooting in twilight opens up a new way of seeing the world. Capture a "scape" that isn't dominated by darkness. Show the light and textures that can be found under the stars, in city lights, or a moon filled sky.</td></tr>
                        <tr><td class="text-nowrap">Week 30</td><td>Creative: Circles</td><td>The circle is a universal symbol with extensive meaning; it represents the notions of totality. </td></tr>
                        <tr><td class="text-nowrap">Week 31</td><td>Wildcard: Photographer's Choice</td><td>Capture an image on your terms; who, what, where, when, why, how … it's all up to you. Caveat: You must tell us your intent.</td></tr>
                        <tr><td class="text-nowrap">Week 32</td><td>Vision: The Alphabet</td><td>Alphabet photography involves taking photographs of existing or created objects to create a word. </td></tr>
                        <tr><td class="text-nowrap">Week 33</td><td>Composition: Figure to Ground</td><td>If camouflage is designed to make things disappear, Figure to Ground is designed to make the subject stand out. Light on dark, dark on light.</td></tr>
                        <tr><td class="text-nowrap">Week 34</td><td>Technical: The Wild Side</td><td>Capturing a captivating wildlife photograph requires knowledge of your camera settings and the behavior of the animal. Capture a compelling wildlife photograph that has proper subject alignment (e.g., no "bird butts") and exposure. For an easy introduction, urban critters (e.g., squirrels) are easy targets. For an advanced challenge, a bird in flight could be considered.</td></tr>
                        <tr><td class="text-nowrap">Week 35</td><td>Creative: Loneliness</td><td>One is the loneliest number.</td></tr>
                        <tr><td class="text-nowrap">Week 36</td><td>Vision: Ordinary</td><td>Find beauty in the ordinary. </td></tr>
                        <tr><td class="text-nowrap">Week 37</td><td>Composition: Eye Lines</td><td>Eyes draw attention to certain parts of the frame, your subject will direct your audience's eye. Where is your subject looking? What are they seeing or not seeing?</td></tr>
                        <tr><td class="text-nowrap">Week 38</td><td>Technical: Focus Stacking</td><td>A technique which combines multiple images taken at different focus distances to give a resulting image with a greater depth of field. Especially helpful in macro.</td></tr>
                        <tr><td class="text-nowrap">Week 39</td><td>Creative: Abstract</td><td>Photograph a common object in an abstract manor.</td></tr>
                        <tr><td class="text-nowrap">Week 40</td><td>Vision: Classic Novel</td><td>Create an image that identifies a classic novel or story.</td></tr>
                        <tr><td class="text-nowrap">Week 41</td><td>Composition: Rule of Odds</td><td>Compose and image highlighting an odd number of subjects; some see this as natural and more pleasing to the eye.</td></tr>
                        <tr><td class="text-nowrap">Week 42</td><td>Technical: Shutter Drag</td><td>Used to balance fill light with ambient light or add motion-blur to images.</td></tr>
                        <tr><td class="text-nowrap">Week 43</td><td>Creative: A Song</td><td>Create a photo from the title of a song.</td></tr>
                        <tr><td class="text-nowrap">Week 44</td><td>Wildcard: Photographer's Choice</td><td>Capture an image on your terms; who, what, where, when, why, how … it's all up to you. Caveat: You must tell us your intent.</td></tr>
                        <tr><td class="text-nowrap">Week 45</td><td>Vision: Show Half</td><td>Tell a complete story by only showing half of it.</td></tr>
                        <tr><td class="text-nowrap">Week 46</td><td>Composition: Golden Triangles</td><td>A diagonal line divides the frame from corner to corner, two more lines are added from the other corners, intersecting the diagonal line.</td></tr>
                        <tr><td class="text-nowrap">Week 47</td><td>Technical: Step Back</td><td>Edit your image to where you think it's perfect and let it sit for two days. Then return to it and see if it works. Print a picture and review it from a different perspective before finalizing.</td></tr>
                        <tr><td class="text-nowrap">Week 48</td><td>Creative: Split Tones</td><td>Another favorite; last year's technical, is this year's creative. Have fun with it.</td></tr>
                        <tr><td class="text-nowrap">Week 49</td><td>Vision: Look Back</td><td>We need to look back to see how far we've come. If you were Captain Ahab, which skill would be your whale? Post a comparison.</td></tr>
                        <tr><td class="text-nowrap">Week 50</td><td>Composition: Golden Ratio</td><td>Often called Fibonacci, the spiral leads the viewers eye to the squares (the subject), compose your image using the Golden Ratio.</td></tr>
                        <tr><td class="text-nowrap">Week 51</td><td>Technical: Exposure Compensation</td><td>While high dynamic range pictures can  help capture challenging lighting situations, there are times when you need a single frame. Use exposure compensation mode on your camera to capture backlit or other challenging lighting situations</td></tr>
                        <tr><td class="text-nowrap">Week 52</td><td>Creative: Self Portrait</td><td>Not popular, but it's good for us to get on the other side of the lens. This year it's in a creative categroy, so be creative.</td></tr>
                    </table>
                    <hr />
                </div>
            </div>
        </div>


    </section>



</main>

