@page
@model IndexModel
@{
    ViewData["Title"] = "Home/Portfolio";
    ViewData["Description"] = "Dogwood Photography is a wedding photography studio located in Durham, NC and provides photography for Raleigh, Durham, Cary, Chapel Hill, and surrounding Triangle Areas";
    ViewData["URL"] = "https://" + @Request.Host + @Request.Path;
}


<header class="fullscreen-header">
    @Html.Partial("_MainNavigation")

    <!-- Full Screen Hero -->
    <div id="intro" class="view full-bg-img">
        <div class="container-fluid mask rgba-white-light d-flex align-items-end justify-content-center">
            <div class="row d-flex align-content-end mb-5">
                <div class="col-12 text-center">

                    <button id="mainbtn" class="btn btn-outline-blue-grey">Enter</button>

                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Hero -->
</header>


<!-- Main Layout -->
<main id="main-content">
    <div class="container-fluid px-5">


        
        <section id="aboutblurb" class="section-content container-fluid p-5 mt-5">

            <h2 class="mb-2 dw-font text-center">Dogwood</h2>     
            <h5 class="dw-font-alt text-muted my-4 text-center">Wedding Photography  <i class="fa fa-camera-retro"></i>  Durham, NC</h5>
            <p class="text-center font-italic">Capturing Epic Love Stories since 2009</p>


       </section>


        <section id="portfolio" class="section container-fluid">
            <div class="sectionHeader text-center pt-5">
                <h2 class="pb-5">Our Portfolio</h2>
            </div>

            <div class="container-fluid">
                <div class="grid are-images-unloaded">
                    <div class="grid-sizer col-12 col-sm-6 col-md-4"></div>

                    <div class="grid-item col-12 col-sm-6 col-md-4">
                        <div class="grid-item-content pb-4">
                            <img class='modalClick' src='/images/portfolio/mansfield-1.jpg' alt='Durham Wedding Photography' />
                        </div>
                    </div>

                    <div class="grid-item col-12 col-sm-6 col-md-4">
                        <div class="grid-item-content pb-4">
                            <img class='modalClick' src='/images/portfolio/mansfield-1.jpg' alt='Durham Wedding Photography' />
                        </div>
                    </div>

                    <div class="grid-item col-12 col-sm-6 col-md-4">
                        <div class="grid-item-content pb-4">
                            <img class='modalClick' src='/images/portfolio/mansfield-1.jpg' alt='Durham Wedding Photography' />
                        </div>
                    </div>

                    <div class="grid-item col-12 col-sm-6 col-md-4">
                        <div class="grid-item-content pb-4">
                            <img class='modalClick' src='/images/portfolio/mansfield-1.jpg' alt='Durham Wedding Photography' />
                        </div>
                    </div>

                    <div class="grid-item col-12 col-sm-6 col-md-4">
                        <div class="grid-item-content pb-4">
                            <img class='modalClick' src='/images/portfolio/mansfield-1.jpg' alt='Durham Wedding Photography' />
                        </div>
                    </div>

                    <div class="grid-item col-12 col-sm-6 col-md-4">
                        <div class="grid-item-content pb-4">
                            <img class='modalClick' src='/images/portfolio/mansfield-1.jpg' alt='Durham Wedding Photography' />
                        </div>
                    </div>


                </div>

                <div class="page-load-status">
                    <div class="loader-ellips infinite-scroll-request">
                        <span class="loader-ellips__dot"></span>
                        <span class="loader-ellips__dot"></span>
                        <span class="loader-ellips__dot"></span>
                        <span class="loader-ellips__dot"></span>
                    </div>
                </div>
            </div>

        </section>



    </div>

</main>
<!-- Main Layout -->


<div class="modal fade" id="myImgModal" tabindex="-1" role="dialog" aria-labelledby="Image by Dogwood" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <div class="modal-body p-2 m-auto">
                <img id="mimg" src="">
            </div>
        </div>
    </div>
</div>


<script>
    //Scroll button on enter
    $("#mainbtn").click(function () {
        $("html,body").animate({ scrollTop: $('#intro').prop("scrollHeight") }, 1000);
    });

    //-------------------------------------//
    // init Masonry

    var $grid = $('.grid').masonry({
        itemSelector: 'none', // select none at first
        columnWidth: '.grid-sizer',
        //gutter: '.grid-gutter-sizer',
        percentPosition: true,
        // nicer reveal transition
        visibleStyle: { transform: 'translateY(0)', opacity: 1 },
        hiddenStyle: { transform: 'translateY(100px)', opacity: 0 }
    });

    //get Masonry instance
    var msnry = $grid.data('masonry');

    // initial items reveal
    $grid.imagesLoaded(function () {
        $grid.removeClass('are-images-unloaded');
        $grid.masonry('option', { itemSelector: '.grid-item' });
        var $items = $grid.find('.grid-item');
        $grid.masonry('appended', $items);
    });


    var nextPage = [
        '/Portpages/1',
        '/Portpages/2',
        '/PortPages/3',
    ];

    function getNextPage() {
        var page = nextPage[this.loadCount];
        if (page) {
            return page;
        }
    }

    //-------------------------------------//
    // init Infinte Scroll

    $grid.infiniteScroll({
        path: getNextPage,
        history: false,
        append: '.grid-item',
        outlayer: msnry,
        status: '.page-load-status',
    });

    // Add Modal to newly show images.
    $grid.on('append.infiniteScroll', function (event, response, path, items) {
        $('.modalClick').on('click', function () {
            var sr = $(this).attr('src');
            $('#mimg').attr('src', sr);
            $('#myImgModal').modal('show');
        });

    });

</script>