@page
@model Dogwood.Pages.InformationModel
@{
    ViewData["Title"] = "Information";
    ViewData["Description"] = "Information and Wedding Photography Pricing for Durham Wedding Photographer Dogwood Photography";
    ViewData["URL"] = "https://" + @Request.Host + @Request.Path;
}



<header>
    @Html.Partial("_MainNavigation")

    <!-- Full Screen Hero -->
    <div id="introHero" class="module view" data-background="/images/wilmington-wedding-photography-header-001.jpg">
        <div class="container-fluid mask rgba-white-light d-flex align-items-end justify-content-center">
            <div class="module-tagline text-center">
                <h5 class="dw-font text-muted my-4">Dogwood Photography  <i class="fa fa-camera-retro"></i>  Durham, NC</h5>
            </div>
        </div>
    </div>
    <!-- /HERO -->
</header>


<main>

    <section class="section-content container-fluid p-5">
        <div class="my-5">
            <h3 class="text-center dw-font-new">About Dogwood Photography</h3>
        </div>

        <div class="card m-5">

            <ul class="nav nav-tabs dw-font-alt-heading" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="true">About Dogwood</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="shootshare-tab" data-toggle="tab" href="#shootshare" role="tab" aria-controls="shootshare" aria-selected="false">Shoot & Share</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="photographer-tab" data-toggle="tab" href="#photographer" role="tab" aria-controls="photographer" aria-selected="false">Meet the Photographers</a>
                </li>
            </ul>

            <div class="card-body">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="about" role="tabpanel">
                        <div class="row">
                            <div class="col d-none d-md-block">
                                <img class="img-fluid pull-left px-2" alt="Durham NC Wedding Photography Bride Picture" src="~/images/durhamwedding-1.jpg" />
                            </div>
                            <div class="col-xs-12 col-md-9">
                                <h3>Our Philosophy</h3>
                                <p>My beautiful wife Erinn and I married 23 years ago, and a friend of the family volunteered to photograph the wedding as a gift to us. This was before the Internet and we just didn’t know at the time how poorly this could turn out.  The only photographs we have from our wedding are a handful of 4x6 proofs without the negatives. We don’t have enough pictures to make an album, and we can’t get them enlarged to hang on the wall. I don’t even remember what the reception looked like anymore; and this is what drives me today. This is why I strive to be the best I can, and to preserve those memories for others. Dogwood wants you to have amazing wedding pictures to preserve the memory of your wedding for a lifetime.</p>
                                <p>One of the most heartbreaking thing I have heard over the years from couples is that they loved our photography, but that we were simply out of their photography budget.  Because of that we are doing what we can to keep our offering affordable. We are not cheap photography; we have professional level cameras, lighting, backup gear, and insurance. But we are trying to be affordable wedding photography. We have decided to focus on just what is essential to ensure our couple’s photographs are amazing. Every decision we make, we ask ourselves is this improves the experience of couples working with Dogwood Photography. </p>
                                <h3>Shoot. Share. Simple</h3>
                                <p>Dogwood Photography is a "Shoot & Share” Durham, North Carolina photography studio. Shoot & Share is a way of doing business that puts the focus on the client, not print sales. We shoot the images, and we share the images. Simple. Based out of Durham, NC, Dogwood Photography has been photographing weddings in North Carolina for over 7 years. Dogwood Photography is named after both the tree which is the state tree of Missouri where we are originally from, and the flower, which is the state flower of North Carolina. The name Dogwood Photography perfectly captures our journey.</p>
                            </div>

                        </div>

                    </div>

                    <div class="tab-pane fade" id="shootshare" role="tabpanel">

                        <div id="whatshootshare" class="white-popup mfp-hide">
                            <h3>What is Shoot & Share?</h3>
                            <div class="row">
                                <div class="col-xs-12 col-md-9">
                                    <p>Shoot & Share is an exciting new way of doing business that is sweeping through the photography world like a storm. Shoot and Share puts the focus on the client, not the sales. We shoot the images, and then we share the images, in high resolution. Simple.</p>
                                    <p>Traditional photography pricing is a leftover relic from the analog (film) days. In the analog days a photographer charged you a sitting fee to take your photo. That sitting fee covered time and talent, as well as the cost of developing the negatives, and creating proof sheets. You then came back into the studio a couple of weeks later to look at the proof sheets, and pick the photos you wanted prints of. The photographer headed into the dark room to create the prints, a laborious and time consuming process. This is why prints were so expensive. That process evolved into the traditional photography sales model of charging a small sitting fee, then an exorbitant price on prints. In the digital world, that pricing model doesn't make any sense! The whole process has changed. Much more of the work is up front. When you see your images my work on them is already all done.</p>
                                    <p>In the last couple of years, Shoot &amp; Share has been gaining popularity.  At first I thought it was crazy. Then I thought it was just a fad. Then I realized it was better. <em> And that is why I am changing.</em></p>
                                    <p>The new pricing model is simple. I charge a single creative fee that covers my time and talent. This includes my time/talent behind the camera, as well as in front of the computer. That’s it. No crazy up-charges. No high pressure print sales. Your images are taken, edited, and then uploaded to an online gallery in high resolution for you to view, share, and download! You can share your images via social media, email, or any way you prefer. This gives me the freedom to focus on the client.</p>
                                    <h4 class="text-center"><em>Shoot &amp; Share is NOT Shoot and Burn</em></h4>
                                    <p>Many budget photographers practice shoot and burn. They will take pictures, and immediately burn those results right onto a DVD for you. While this may sound great, the problem with this is that digital images require some adjustment to be perfect. Shoot and Burn photographers will never provide the best rendition of the image taken because they don't take the time to do it right. In wedding photography you get what you pay for.  Shoot &amp; Share is not shoot and burn. Under Shoot &amp; Share every image has been exposure corrected, color corrected, and cropped to create a beautiful, print ready, image.</p>
                                    <h3>But what about prints?</h3>
                                    <p>I am a firm believer in prints, and believe photos still look their best in print. Prints are also the best way to ensure your images are around for a very, very long time! Since the cost of providing my service to you is fully covered in the creative fee, there is no high pressure sales pitch to get you to purchase overpriced prints. I offer a full range of professionally printed albums, prints, and products; and can do so at reasonable prices.  One of my <span class="highlight">favorite</span> things about Shoot &amp; Share is that I can offer you access to professional print labs, labs only professional photographers have access to, at reasonable prices.  Of course you are also free to have your images printed at your favorite consumer lab!  It is all about choice.</span></p>

                                </div>
                                <div class="col d-none d-md-block">
                                    <img class="img-fluid pull-right px-2" alt="Wilmington NC Wedding Photography Bride Picture" src="images/wilmington-wedding-photography-001.jpg" />
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane fade" id="photographer" role="tabpanel">
                        <h3>Our Philosophy</h3>
                        <p>One of the most heartbreaking thing we have heard over the years from couples is that they loved us, but that we were simply out of their photography budget. This has really stuck with us, so we have decided to focus on just what is essential to ensure our couple’s photographs are amazing. We use top of the line cameras, lenses, and lights; and we have insurance and full backups.  Every decision we make, we ask ourselves is this improves the experience of couples working with Dogwood Photography. We are not budget photography, but we are trying to be affordable photography.</p>
                        <p>At Dogwood, we understand the frustration of trying to find the perfect photographer for your wedding, so we put everything up front and easy to find.  We put our photography pricing right on the website, so you can make an informed decision about your wedding photography needs.  We have moved everything online from contract signage to image delivery to not only reduce paper usage, but to make it super simple for you!</p>
                    </div>



                </div>
            </div>
        </div>


    </section>


    <div class="module-parallax view my-5" data-background="/images/quote-background-001.jpg">
        <div class="mask rgba-white-strong d-flex align-items-end justify-content-center">
            <div class="text-center">
                <h4 class="dw-font-parallax">Something old, something new<br>something borrowed, something blue<br>and a silver sixpence in her shoe.</h4>
                <p class="dw-font-parallax-tagline">Author Unknown, 17th Century England</p>
            </div>
        </div>
    </div>

    <section class="section-content container-fluid p-5">
        <div class="my-5">
            <h2 class="text-center">Wedding Photography Packages</h2>
            <p class="text-center font-italic">Custom packages available.</p>
        </div>
        <div class="card-deck m-5">

            <div class="card">
                <div class="card-header text-center">Pine</div>

                <div class="card-body">
                    <h4 class="text-center">$1500</h4>
                    <p class="card-text text-center "><small class="text-muted">Includes up to 6 hours of coverage</br><span class="font-italic font-weight-bold">Additional Hours $200/hr</span></small></p>
                    <ul>
                        <li class="card-text">High Resolution, Print Ready, Digital Images without Watermarks</li>
                        <li class="card-text">Online gallery for sharing and downloading</li>
                        <li class="card-text">Print Release</li>
                        <li class="card-text">One Photographer</li>
                    </ul>
                </div>

                <div class="card-footer bg-white text-center text-muted">
                    <small class="card-text">
                        À la carte ordering of albums, gallery wraps, products, and prints available.
                        <br /><span class="font-italic">Tax Not Included</span>
                    </small>
                </div>

            </div>

            <div class="card">
                <div class="card-header text-center">Oak</div>

                <div class="card-body">
                    <h4 class="text-center">$1900</h4>
                    <p class="card-text text-center "><small class="text-muted">Includes up to 6 hours of coverage</br><span class="font-italic font-weight-bold">Additional Hours $200/hr</span></small></p>
                    <ul>
                        <li class="card-text">High Resolution, Print Ready, Digital Images without Watermarks</li>
                        <li class="card-text">Online gallery for sharing and downloading</li>
                        <li class="card-text">Print Release</li>
                        <li class="card-text"><em>Two Photographers</em></li>
                        <li class="card-text"><em>Engagement Session</em></li>
                    </ul>
                </div>

                <div class="card-footer bg-white text-center text-muted">
                    <small class="card-text">
                        À la carte ordering of albums, gallery wraps, products, and prints available.
                        <br /><span class="font-italic">Tax Not Included</span>
                    </small>
                </div>

            </div>

            <div class="card">
                <div class="card-header text-center">Dogwood</div>

                <div class="card-body">
                    <h4 class="text-center">$2400</h4>
                    <p class="card-text text-center "><small class="text-muted">Includes up to 6 hours of coverage</br><span class="font-italic font-weight-bold">Additional Hours $200/hr</span></small></p>
                    <ul>
                        <li class="card-text">High Resolution, Print Ready, Digital Images without Watermarks</li>
                        <li class="card-text">Online gallery for sharing and downloading</li>
                        <li class="card-text">Print Release</li>
                        <li class="card-text"><em>Two Photographers</em></li>
                        <li class="card-text"><em>Engagement Session</em></li>
                        <li class="card-text"><em>12X12" Leather-bound Heirloom Quality 30 page wedding album</em></li>
                    </ul>
                </div>

                <div class="card-footer bg-white text-center text-muted">
                    <small class="card-text">
                        À la carte ordering of albums, gallery wraps, products, and prints available.
                        <br /><span class="font-italic">Tax Not Included</span>
                    </small>
                </div>

            </div>

        </div>

        <div class="my-5 max1200 mx-auto">
            <hr />
            <h4 class="text-center pb-2  ">Available Addons:</h4>

            <div class="row px-5">
                <div class="col-12">
                    <p><span class="font-weight-bold">Digital Photobooth ($400):</span> Our iPad based digital photobooth is always a guest favorite during receptions! The images will be added to your download gallery where guests can download, share and order prints.</p>
                </div>

                <div class="col-12">
                    <p><span class="font-weight-bold">8.5" x 11" Photo Guest Book ($200):</span> A photo album printed on writable paper allowing your guests to write advice and well wishes surrounded by your favorite images. A fantastic use for your engagement photos!</p>
                </div>

                <div class="col-12">
                    <p><span class="font-weight-bold">12" x 12" Leather-bound Wedding Album ($600):</span> 30 Page Lay-flat, leather-bound heirloom quality wedding album with a custom layout of your favorite wedding day images. An item to be treasured by generations!</p>
                </div>
            </div>

        </div>

    </section>

    <div class="module-parallax view my-5" data-background="/images/quote-background-002.jpg">
        <div class="mask rgba-white-strong d-flex align-items-end justify-content-center">
            <div class="text-center">
                <h4 class="dw-font-parallax">Every love story is beautiful, but ours is my favorite.</h4>
                <p class="dw-font-parallax-tagline">Author Unknown</p>
            </div>
        </div>
    </div>

    <section class="section-content container-fluid p-5">
        <div class="my-5">
            <h2 class="text-center">Information</h2>
        </div>

        <div class="card m-5">

            <ul class="nav nav-tabs dw-font-alt-heading" id="infoTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="imagedelivery-tab" data-toggle="tab" href="#imagedelivery" role="tab" aria-controls="imagedelivery" aria-selected="true">Image Delivery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="prints-tab" data-toggle="tab" href="#prints" role="tab" aria-controls="prints" aria-selected="false">Prints Still Matter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="faq-tab" data-toggle="tab" href="#faq" role="tab" aria-controls="faq" aria-selected="false">FAQ</a>
                </li>
            </ul>

            <div class="card-body">
                <div class="tab-content" id="myInfoContent">
                    <div class="tab-pane fade show active" id="imagedelivery" role="tabpanel">

                        <div class="row">
                            <div class="col d-none d-md-block">
                                <img class="img-fluid pull-left px-2" alt="Durham wedding photography image delivery" src="~/images/ipad.png" />
                            </div>
                            <div class="col-xs-12 col-md-9">
                                <h3>How Your Images are Delivered.</h3>
                                <p>We live in an incredibly connected world.  Calling a friend on the phone on another continent, talking on Skype with our college roommate, or reading the Facebook wall of a friend we haven’t seen since high school is now normal. We’ve forgotten how just ten years ago we didn’t have iPhones, iPads, or even Facebook.  One of the major benefits of being so connected is that we can now share images of our lives with the ones we love... instantly.</p>
                                <p>When your wedding images have been fully edited, a collection of your photos will be uploaded to an online gallery.  You will receive a unique URL where you can view, download, share, and order prints on any computer, tablet, or smartphone that has Internet access.  To share your images with friends and family you simply share your unique URL with them and they too can view, download, share, and order prints of your images.  All downloads require a PIN which I will provide to you, and your gallery can be password protected at your request.</p>
                                <p>If your Internet at home is not fast enough to download the images through the online gallery,  I can easily provide a DVD to you at no additional charge.</p>
                            </div>

                        </div>

                    </div>

                    <div class="tab-pane fade" id="prints" role="tabpanel">

                        <div id="whyprints" class="white-popup mfp-hide">

                            <div class="row">

                                <div class="col-xs-12 col-md-9">
                                    <h3>Why Prints Still Matter.</h3>
                                    <p>I am a firm believer in prints, and believe photos still look their best in print. Prints are also the best way to ensure your images are around for a very, very long time!   Hard drives will fail, USB/Thumb drives will stop working, and DVDs will become unreadable.</p>
                                    <p>Since the cost of providing my service to you is fully covered in the creative fee, there is no high pressure sales pitch to get you to purchase overpriced prints after the wedding. A a courtesy, I do offer a full range of professionally printed albums, prints, and products,and can do so at reasonable, upfront prices.  One of my favorite things about Shoot & Share is that I can offer you access to professional print labs, ones only professional photographers have access to, at reasonable prices. All prints ordered through your on-line gallery are printed on Kodak Endura Professional Lustre paper for amazing color rendition and superb skin tones. Prints on matte or metallic paper are also available, if you prefer. Of course you are also free to have your images printed at your favorite consumer lab!  It is all about choice.</p>
                                    <p>Are you confused by print sizes, and image crop?  You are not alone.  The different print sizes are left-overs from the Analog days when film came in different sizes and shapes.  An 8”x10” print is a direct descendant of Large-Format cameras from the 1930s.  And since changing the shape of the image involved using a strait edge and a razor blade, frames where produced to match the shape of the image.  Today’s professional digital cameras produce images that are the same shape (or crop ratio) as 35mm film.  Prints ordered in the following sizes will not be significantly cropped: 4x6, 8x12, 12x18, 20x30, 24x36, 30x40.  All other sizes are going to experience some cropping.  Yes, that means that the classic 8x10 image is going to experience cropping!  When you order prints on-line, the approximate crop will be displayed.</p>
                                </div>

                                <div class="col d-none d-md-block">
                                    <img class="img-fluid pull-left px-2" alt="Durham wedding photography image delivery" src="~/images/floppydisk.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="faq" role="tabpanel">

                        <div class="row">
                            <div class="col-12">
                                <h3>Frequently Asked Questions.</h3>
                                <p><span class="font-italic font-weight-bold">What is your style?</span> The best answer is to look through the portfolio on the website. All of these images have been taken by me and represent my style.</p>
                                <p><span class="font-italic font-weight-bold">Will you be photographing my wedding?</span> Barring illness or injury I will personally be photographing your wedding. I am not a large company that uses a booking agent, and then sends out a random photographer. I am a one person business (with significant help from my amazing wife of 20 years!)</p>
                                <p><span class="font-italic font-weight-bold">What happens if you are sick or injured?</span> This has never happened, knock on wood. But if it were to happen, I have an extensive list of wedding photography colleagues in North Carolina I can draw from. I am also a member of the Wedding Photographic Society which is a network of wedding photography professionals.</p>
                                <p><span class="font-italic font-weight-bold">Do you photograph gay weddings?</span> We believe that love is love, and work with people no matter their gender identity, sexual orientation, or religious beliefs.</p>
                                <p><span class="font-italic font-weight-bold">Why is wedding photography so expensive?</span> Wedding photography is a specialized field. The equipment needed to handle the ever changing situations of a wedding, often in poor lighting and unpredictable weather, is much more expensive than what your standard portrait photographer needs. And since we simply can’t reschedule your wedding if something goes wrong with a critical piece of equipment, we have to have backups for everything. Also, most weddings are on a Saturday, and there are a limited number of Saturdays to book weddings. This dictates price, unfortunately. Hiring the wrong wedding photographer is putting your memories at risk. They might not have proper equipment, backups, or business practices to ensure your day is captured and your images are safe.</p>
                                <p><span class="font-italic font-weight-bold">Should I get an album?</span> Yes! When my wife and I were married, we did not have an album made. We always thought we would ‘get to it later’. Well 20 years later and the negatives are lost, and we don’t have enough prints to make an album. Technology changes; in 10 years computers likely won’t even have DVD players in them, so getting your images off of the DVD may be impossible. The only time tested way to be sure you can see your wedding photos in 10 or 20 years is to have quality prints made in some form. Can you imagine trying to get your parents’ wedding images off of an old 5 ¼ floppy disk today?</p>
                                <p><span class="font-italic font-weight-bold">I don’t see prints in any of your packages, do you offer prints?</span> Absolutely! I offer a full range of photographic prints, as well as products like gallery wraps. I don’t have these in my packages to keep things simple. Your images will be in an online gallery for you to order prints and products from after your wedding should you desire.</p>
                                <p><span class="font-italic font-weight-bold">Do I get the high resolution images?</span> Yes. The images are available for download cropped and color corrected, in high resolution, without watermarks, and ready for print. You can get these images printed anywhere and you are not required to go through me. You can read more here.</p>
                                <p><span class="font-italic font-weight-bold">If I can get images printed anywhere, why should I order through you? Your print prices are higher than the local discount store.</span> My prints come from professional labs that are only available to professional photographers. These labs use photographic paper that is exposed to light and developed using a chemical development process. Though constantly being improved for color and contrast, this is the same basic process that has been around for over a hundred years. Discount printers use an inexpensive inkjet type system that sprays ink on paper. These inexpensive systems often use thin cheap paper to save money, and don’t hold color and contrast as well as a developed print from a professional lab.</p>
                                <p><span class="font-italic font-weight-bold">How soon will I get my photos?</span> The online gallery with the full set of images will be ready within 30 days.  The online gallery is where you share your images from, as well as download them.</p>
                                <p><span class="font-italic font-weight-bold">How many images do I get?</span> That depends on the wedding. An intimate beach wedding with 40 guests that only lasts a few hours might produce 300 images, while a large full day wedding with 300 guests might produce 1000 images. I will take as many images as I need to tell the story. On average though you will receive between 50-100 images per hour of coverage</p>
                                <p><span class="font-italic font-weight-bold">Do you do any special processing on my images?</span> Every image is manually color corrected and cropped. I believe in providing a clean crisp beautiful image. I try to avoid any editing fads that will make your images feel dated in 10 or 20 years. For any images that are ordered as prints, and especially products like gallery wraps, I will do additional editing on them to prepare them for large printing including blemish cleanup and background cleanup.</p>
                                <p><span class="font-italic font-weight-bold">I am from out of town, but having my wedding in North Carolina. Can you accommodate me?</span> Absolutely! With the amazing weather, beautiful scenery, and spectacular beaches, we have many “destination” weddings where this IS the destination. We can handle pre-wedding consultations over the phone or via Skype/Facetime.</p>
                                <p><span class="font-italic font-weight-bold">I think you are awesome and want to hire you, what’s next?</span> Now you contact us! We will set up a consultation to see if I am the right wedding photographer to tell the story of your day. We can meet in the studio; or go for coffee, a beer, or even ice cream! If you are not local we will handle the consultation over the phone or via Skype/Facetime.</p>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>


    </section>

    <div class="module-parallax view my-5" data-background="/images/quote-background-003.jpg">
        <div class="mask rgba-white-strong d-flex align-items-end justify-content-center">
            <div class="dw-font-parallax text-center flex-center">
                <div id="reviews" class="carousel slide flex-center" data-ride="carousel">

                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#reviews" data-slide-to="0" class="active"></li>
                        <li data-target="#reviews" data-slide-to="1"></li>
                        <li data-target="#reviews" data-slide-to="2"></li>
                        <li data-target="#reviews" data-slide-to="3"></li>
                        <li data-target="#reviews" data-slide-to="4"></li>
                    </ul>

                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <p class="dw-font-parallax">...every one of the pictures were stunning!</p>
                            <p class="dw-font-parallax-tagline">Cinthya & Edwin</p>
                        </div>
                        <div class="carousel-item">
                            <p class="dw-font-parallax">One word...AMAZING! Dale will be more than a photographer, he will be your friend. His work and personality are outstanding.</p>
                            <p class="dw-font-parallax-tagline">Amber & Ryan</p>
                        </div>
                        <div class="carousel-item">
                            <p class="dw-font-parallax">If any one can make my camera shy groom smile in pictures, they have to be good- and Dale went above and beyond good!</p>
                            <p class="dw-font-parallax-tagline">Kelly & Collin</p>
                        </div>
                        <div class="carousel-item">
                            <p class="dw-font-parallax">Dale is amazing! I am able to look at my photographs from my wedding and feel like I am there all over again!</p>
                            <p class="dw-font-parallax-tagline">John & Alexandria</p>
                        </div>
                        <div class="carousel-item">
                            <p class="dw-font-parallax">We can't imagine working with anyone else!</p>
                            <p class="dw-font-parallax-tagline">Lisa</p>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>



</main>



